html,
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("/background.jpg");
  background-size: cover;
  color: var(--nat-navbar-bg) !important;
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

/* Force all navbar links to be black */
.navbar .nav-link {
  color: var(--nat-navbar-text-color) !important;
}

.navbar .nav-link:hover {
  color: var(--nat-navbar-highlight-text) !important;
}

.bg-dark a.dropdown-item {
  color: var(--nat-navbar-text-color);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

:root {
  --nat-navbar-bg: #ECECEC;
  --nat-navbar-bg-rgb: 236, 236, 236;
  --nat-navbar-text-color: black;
  --nat-navbar-highlight-text: #333;
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

